$color-title-bg: rgb(255, 255, 255);
$color-title-fg: black;
$color-primary:#8dd6b8;
$color-primary-personality:#8dd6b8;
$color-primary-newsitem:#8dd6b8;
$color-primary-product: #8dd6b8;
$color-background-soft:#8dd6b8;