@import '../styles/colors';

.concert {
  .mainpicture {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0px 10px #000;
    margin-bottom: 40px;
  }

  .price {
    padding: 10px 20px; 
    background-color: rgb(84, 203, 233);
    border-radius: 20px;
    font-weight: 700;
    margin-bottom: 40px;
    max-width: 130px;
  }
  
  .location {
    font-weight: 800;
    font-size: 1.4em;
  }

  .date {
      padding: 5px 20px;
      background-color: #e4e3e3;
      max-width: 170px;
      margin-top: 20px;
      margin-bottom: 20px;
      font-weight: 700;
    }
  }

  .peoplesegment {
    margin-top:40px;
    .title {

      font-size: 1.4em;
      font-weight: 800;
      margin-bottom: 20px;

    }

    .content {}
  }

  .title {}

  .summary {}

  .description {}

  .introduction {}

  .main_poster {
    img {}
  }

  .writers {
    .writer {}
  }

  .directors {
    .director {}
  }

  .stars {
    .star {}
  }

  .genres {
    .genre {}
  }

  .pictures {
    .picture {}
  }

  .trailers {
    .trailer {}
  }
